<form method="post" action="{{ path('app_piece_delete', {'id': piece.id}) }}" onsubmit="return confirm('¿Seguro que desea borrar esta obra?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ piece.id) }}">
    <button class="btn del">{{ ux_icon('bi:trash') }}</button>
</form>
