
/* --- Table Styles --- */
.table,
.simple_table {
   width: 100%;
   margin-bottom: 20px;

   border-collapse: collapse;
}

.table tr:nth-child(even) {
   background-color: var(--neutral-100) !important;
}

.table tr,
.simple_table tr {
   width: 100%;

   display: flex;
   justify-content: space-between;
}

.table th,
.table td,
.simple_table th,
.simple_table td {
   padding: 8px;
   width: 100%;
   min-width: fit-content;

   text-align: left;
   border-bottom: 1px solid var(--neutral-400);
   background-color: inherit;
}
.table td {
   display: flex;
   align-items: center;
}
.table th {
   background-color: var(--neutral-300);
}

.trcol {
   display: flex;
   flex-direction: column;
}
/* --- Actions --- */
.actions {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   flex-wrap: wrap;
}
@media (width <= 740px) {
   th.actions {
      min-width: 140px !important;
      width: 140px !important;
      max-width: 140px !important;
   }
   td.actions {
      min-width: 140px !important;
      width: 140px !important;
      max-width: 140px !important;
   }
}

@media (width <= 400px) {
  td.textwrap {
      min-width: 0 !important;
      width: auto !important;
      max-width: 50vw;
      text-wrap: wrap !important;
   }
}