#artwork_inf {
   margin-bottom: 70px;
}
#artwork_pieces {
   margin: 50px 0;
   display: flex;
   flex-direction: row;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-around;
   gap: 20px;
}

.show_pieces {
   display: flex;
   min-width: fit-content;
   flex: 1;
   border: 1px solid rgb(224, 224, 224);
   padding: 15px;
   padding-left: 0px;
   margin-bottom: 20px;
   height: min-content;
}

.show_pieces_images {
   display: flex;
   flex-direction: column;
   align-items: center;
   overflow: auto;
   flex: 1;
   max-height: 350px;
}
.show_pieces_img {
   margin: auto;
   max-width: 90%;
   height: auto;
   max-height: 250px;
}

.show_pieces_data {
   display: flex;
   flex-direction: column;
   flex: 1;
   justify-content: space-around;
   margin-left: 15px;
   max-height: fit-content;
   align-self: center;

}
.show_pieces_buttons {
   display: flex;
   justify-content: space-between;
}

.without_lines td, .without_lines th{
   border: 0;
}

.hidden-materials {
   display: none;
}

@media (width < 450px){
   .show_pieces {
      flex-direction: column;
   }
   .show_pieces {
      max-height: 600px;
   }
   .show_pieces_data {
      width: 100%;
   }
   .show_pieces_data > .simple_table tr:first-child {
      flex-wrap: wrap;
   }
}