:root {
   --primary-300: #7FB2B5;
   --neutral-700: #AEBBBB;
   --error-500: #A73E2B;
}
* {
   font-family: "Lexend", sans-serif;
   font-optical-sizing: auto;
   font-style: normal;
}
body {
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   font-size: large;
   width: 100vw;
   height: 100vh;
   padding: 0;
   margin: 0;
}
.navbar {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #ffffff7c;
   padding: 10px;
   margin-bottom: 100px;
}
h1 {
   margin-bottom: 0px;
   text-align: center;
}
a {
   text-decoration: none;
   color: black;
}
#img {
   height: 100vh;
   width: 100%;
   margin: 0px !important;
}
.body {
   display: flex;
   flex-direction: column !important;
   justify-content: center;
   align-items: center;
   width: 100%;
}
 .content_log {
   margin: 0px !important;
   width: 500px;
   padding: 30px 0;
   border-radius: 15px;
   background-color: rgba(255, 255, 255, 0.61);
}

form {
   width: 90%;
   margin: 0 auto;
   display: flex;
   flex-direction: column;
}

input {
   padding: 10px;
   margin-bottom: 25px !important;
   border-radius: 3px;
   border: 1px solid var(--neutral-700);
   font-size: large;

}

button {
   font-weight: bold;
   padding: 13px !important;
   border-radius: 3px;
   border: none;
   background-color: var(--primary-300);
   margin-bottom: 25px !important;
   cursor: pointer;
}
.error {
   color: var(--error-500);
   padding: 10px;
   background-color: white;
   border: 0.5px solid var(--error-500);
   font-size: medium;
   font-weight: bold;
   border-radius: 3px;
   text-align: center;
   margin-bottom: 0px !important;
} 

@media (width <= 600px) {
   .content_log {
      width: 100%;  
   }
}