#work_body {
   width: 100%;
}
#work_img {
   background-repeat: no-repeat;
   background-size: cover;  
   background-position: center; 
}



#piece_body {
   margin-top: 70px;
}

.image-wrapper {
   display: flex;
   flex-direction: column;
   margin-right: 15px;
}
.image-wrapper > button {
   width: fit-content;
}
#work_imageContainer > div, div > img {
   margin-right: 15px;
}
.to-delete img {
   filter: grayscale(100%);
   opacity: 0.5;
}
#btnDIV {
   display: block;
}

.t_nocolor {
   background-color: #fff !important;
}
