{% extends 'base.html.twig' %}

{% block title %}Hello MaterialsController!{% endblock %}

{% block body %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success">Guardar</button>
{{ form_end(form) }}
{% endblock %}
