#artwork_inf {
   margin-bottom: 70px;
}
#artwork_pieces {
   margin: 50px 0;
   display: flex;
   flex-direction: row;
   width: 100%;
   flex-wrap: wrap;
   justify-content: space-around;
}

.show_pieces {
   display: flex;
   width: fit-content;
   max-width: 45%;
   border: 1px solid rgb(224, 224, 224);
   padding: 15px;
   margin-right: 10px;
}

.show_pieces_images {
   display: flex;
}
.show_pieces_data {
   display: flex;
   flex-direction: column;
   flex: 1;
   min-height: 100%;
   justify-content: space-between;
}
.show_pieces_buttons {
   display: flex;
   justify-content: space-between;
}

.without_lines td, .without_lines th{
   border: 0;
}

.hidden-materials {
   display: none;
}
