<form method="post" action="{{ path('app_artwork_delete', {'id': artwork.id}) }}" class="delete-form">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ artwork.id) }}">
    <button class="btn del"><i class="bi bi-trash"></i></button>
</form>
