/* a.page {
   height: fit-content;
   font-size: large;
   padding: 10px;
   text-transform: uppercase;
} */
.page_body {
   min-width: 70vw;
   min-height: 70vh;
}
#page_body_form {
   display: flex;
   flex-direction: row;

   justify-content: space-between;
}
#page_form {
   flex: 1;
   margin-right: 30px;
   min-width: fit-content;
}

/* HOME */
#page_home {
   height: 600px;
}

#home_img {
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   height: 100% !important;
}

/* CONTACT */
#page_contact {
   display: flex;
   flex-direction: column;
   justify-content: center;

   margin: 0px auto;
   width: fit-content;
   
}
#contact_img {
   flex: 1;
   height: 100%;
   width: 100%;
   margin-right: 50px;

   background-position: center;
   background-size: cover;
}


/* ABOUT */
#page_about {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
   height: 100%;
   margin: 0 auto;
}

#page_about pre {
   font-size: medium;
   line-height: 1.5em;
   font-family: "Lexend", sans-serif !important;

   overflow: hidden;
   text-wrap: wrap;

   flex: 1;
   min-height: 100% !important;
   min-width: fit-content !important;
   width: min-content;
}
#about_img {
   height: 90%;
   width: 50%;
   flex: 1;
   margin-left: 50px;
   background-position: center;
   background-size: cover;
}
@media (width < 1000px){
   #page_about {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 100%;
      margin: 0 auto;
   }
   #about_img {
      min-height: 300px;
      height: 100%;
      width: 100%;
      flex: 1;
      margin-left: 0;
      background-position: center;
      background-size: cover;
   }
#page_contact, #page_about {
   padding: 15px;
}
}