{# templates/email_config/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>Editar configuración de correo</h1>

{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">Guardar</button>
{{ form_end(form) }}
{% endblock %}
